body{
  padding-top: 50px;
  background-color: #316B83;
}

.weather-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  color: #8CA1A5;
}

.metric-check{
  margin: 20px;
}
